services:
  web:
    build: .
    container_name: webflow-web
    env_file:
      - .env
    environment:
      DEBUG: "False"
      DB_HOST: db
      DB_PORT: "5432"
    volumes:
      - .:/app
      - static_volume:/app/staticfiles
    depends_on:
      - db

  db:
    image: postgres:16
    container_name: webflow-db
    env_file:
      - .env
    environment:
      POSTGRES_DB: ${DB_NAME}
      POSTGRES_USER: ${DB_USER}
      POSTGRES_PASSWORD: ${DB_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data

  nginx:
    image: nginx:alpine
    container_name: webflow-nginx
    ports:
      - "8000:80"
    depends_on:
      - web
    volumes:
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro
      - static_volume:/staticfiles:ro

volumes:
  postgres_data:
  static_volume: