{% extends "base.html" %}
{% load django_bootstrap5 %}

{% block title %}WebFlow - Set new password{% endblock %}

{% block content %}
<div class="mt-5" style="max-width: 400px; margin: 0 auto;">
    <h2 class="mb-4 fw-bold text-center">Set a new password</h2>

    {% if validlink %} <!-- TODO: How is this validated? -->
        <form method="post" class="card p-4 shadow-sm">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="d-grid mt-3">
                {% bootstrap_button "Change password" button_type="submit" button_class="btn-primary" %}
            </div>
        </form>
    {% else %}
        <div class="card p-4 shadow-sm">
            <p>The password reset link is invalid or has already been used. Please request a new password reset.</p>
        </div>
    {% endif %}
</div>
{% endblock %}